nav a {
    color: silver;
    font-size: 11px;
    font-weight: bold;
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.nav li {
	display: inline;
}

.jumbotron {
	text-align: center;
	font-size: 28px;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  color: white;
}

img {
    max-width: 70%;
    max-height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

a {
  color: silver;
}
