
.algorithmia-recommends > ul {
    list-style-type: none;
    padding: 0;
}
.algorithmia-recommends-link {
    margin-bottom: 10px;
    clear: both;
}
.algorithmia-recommends-thumbnail-link {
    display: inline-block;
    float: left;
}
.algorithmia-recommends-thumbnail {
    width: 70px;
    max-height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.algorithmia-recommends-text {
    max-width: 100%;
    overflow: auto;
}
.algorithmia-recommends-link > a {
    font-size: large;
}
.algorithmia-recommends-error {
    display: none;
    /** OR **/
    color: #d11;
}
.algorithmia-recommends-summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
